.small_icon_avatar{
  width: 69px;
  height: 69px;
}
.small_price{
  font-size: 20px;
}
.image_home{
  height: 200px;
}
.image_medium{
  height: 290px;
}
.remember_me{
  padding-left: 15px;
}
.log_in{
  text-align: center
}
.no_padding{
  padding: 0px
}
.center_title{
  text-align: center;
}
.user_avatar{
  height: 150px;
  width: 150px;
}
.main_logo{
  max-height: 42px;
}.no_padding_left{
  padding-left: 0px;
}
